# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
.venv/

# Distribution and build directories
build/
dist/
*.egg-info/
.eggs/

# Logs and debug files
*.log
*.out
*.err

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Testing files
.coverage
.tox/
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.*
*.env

# Other
*.sqlite3
*.db
